.customInput {
    border: 1px solid #6E58D8;
    padding: 4px;
    background-color: white
}

.customInput:focus {
    border: 2px solid tomato;
    outline: none;
}

.formBtn {
    opacity: 0.9;
}

.formBtn:hover {
    cursor: pointer;
    opacity: 1;
}

.formText {
    font-size: 14px;
    color: blue;
    opacity: 0.8
}

.formText:hover {

    opacity: 1
}